:root {
    --main-color: #212121;
    --brand-color: #2196F3;
    --second-color: #757575;
    --third-color: #FFFFFF;   
    --bgd-color: #F5F4FA;    
}

body {
    font-family: 'Roboto', sans-serif;    
    color: var(--main-color);   
    font-size: 16px;    
}

.container {    
    margin: 0 auto;
    width: 1200px;
    margin: 0 15px;
    outline: 1px solid red
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
}

/* common styles start */
.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--brand-color);
    text-decoration: none;
}

.logo-dark-theme {
    color: var(--third-color);
}

.logo-light-theme {
    color: var(--main-color);
}

.list {
    list-style: none;
}

.item .link {
    color: var(--main-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.button {
    background-color: var(--brand-color);
    color: var(--third-color);
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    border: none;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
}

.button:focus,
.button:hover {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

/* common styles end */

/* header */
.menu .active {     
    color: var(--brand-color);
}

.menu .link:focus,
.menu .link:hover,
.contacts .link:focus,
.contacts .link:hover {
    color: var(--brand-color);
}

.contacts .link {
    color: var(--second-color);
}

/* section Hero */
.hero{
    background-color: #2F303A;  
    text-align: center;       
}

.hero .title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-align: center;    
    text-transform: uppercase;
    color: var(--third-color);  
    margin-bottom: 30px; 
}

/* section Advantage */
.advantage {
    padding: 94px 0 83px 0;   
}

.advantage .advantage-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    margin-bottom: 10px;
}

.advantage .advantage-desc {  
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;    
    letter-spacing: 0.03em;
    color: var(--second-color);       
}

/* section works */
.works {
    padding-bottom: 83px;    
}


/* section Team */
.team {
    padding: 105px 0 94px 0;    
}

.team .name {
    font-weight: 500;    
    line-height: 1.2;    
    letter-spacing: 0.03em;
}

.team .position {
    font-weight: 400;    
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

/* section Portfolio */
.portfolio {
    padding: 94px 0;
}

.portfolio .button {
    background-color: var(--bgd-color);
    color: var(--main-color);           
    font-weight: 500;   
    line-height: 1.6;  
    letter-spacing: 0.03em;
    min-width: auto;      
}

.portfolio .button:focus,
.portfolio .button:hover,
.portfolio .active {
    background-color: var(--brand-color);
    color: var(--third-color);    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 1px 2px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.portfolio .project {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;    
    letter-spacing: 0.06em;
}

.portfolio .category {
    font-weight: 400;    
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: var(--second-color);
}

/* footer */
footer {
    background-color: #2F303A;
}

.address .link {
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address .item:first-child .link {
    color: var(--third-color);    
}
